/* font-family: 'Mulish', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap");

/* shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
:root {
  --primary-color: #ff5400;
  --heading-color: #131318;
}
.btn-primary {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  border: 0;
  font-weight: 700;
  padding: 15px 30px;
}

/* header styles */
header {
  max-width: 1600px;
  padding: 50px 120px 0;
  margin: 0 auto;
}

/* nav styles */
nav .logo-text {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
  list-style: none;
}
nav > ul li {
  margin-left: 40px;
}
nav > ul li a {
  text-decoration: none;
  color: #424247;
  font-size: 18px;
}
nav > ul li a:hover {
  color: var(--primary-color);
}
nav > ul li:first-child a {
  color: var(--primary-color);
}
nav .logo-text h1 {
  color: var(--heading-color);
  font-size: 36px;
  font-weight: 800;
}

nav .logo-text h1 span {
  color: var(--primary-color);
}

nav .menu-bar {
  display: none;
  position: relative;
}
.menu-bar i {
  font-size: 20px;
}

/* dropdown styles */
.dropdown {
  display: none;
}
.menu-bar:hover .dropdown {
  display: block;
}
.dropdown {
  background: rgba(49, 49, 49, 0.836);
  position: absolute;
  border-radius: 5px;
  top: 30px;
  right: 20px;
  padding: 20px 40px;
}
.dropdown ul {
  display: flex;
  list-style: none;
  flex-direction: column;
}
.dropdown ul li {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.dropdown ul li a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
.dropdown ul li a:hover {
  color: var(--primary-color);
}
.dropdown ul li:first-child a {
  color: var(--primary-color);
}
/* banner styles */

.banner {
  margin-bottom: 100px;
  background: url("../Images/Group\ 13.png"),
    linear-gradient(180deg, rgba(19, 19, 24, 0.8) 0%, rgba(19, 19, 24, 0) 100%);
  background-blend-mode: overlay;
  background-size: cover;
  border-radius: 16px;
  padding: 100px 150px;
  /* height: 500px; */
  background-position: center;
  margin-top: 40px;
}

.banner h1 {
  color: #fff;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 800;
}
.banner p {
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
  font-size: 1rem;
  line-height: normal;
}

/* find-place styles  */

.find-place {
  padding: 15px;
  display: flex;
  border-radius: 8px;
  gap: 20px;
  background: rgba(255, 255, 255, 0.3);
  justify-content: center;
  align-items: stretch;
}

.find-place .input,
.find-place button {
  width: 25%;
}

.find-place .input {
  display: flex;
  align-items: center;
  border-radius: 8px;
  height: 50px;
  background: #fff;
  padding: 10px;
}
.find-place .input input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 5px;
  outline: 0;
  border: 0;
}
.find-place .input input::placeholder {
  color: rgba(19, 19, 24, 0.5);
}
.input i {
  color: rgba(19, 19, 24, 0.7);
}
/* main styles */
main {
  max-width: 1600px;
  padding: 50px 120px;
  margin: 0 auto;
}

.popular-tours {
  display: flex;
  gap: 80px;
}
.tour-text,
.popular-tours img {
  width: 50%;
}

.tour-text h1 {
  color: var(--heading-color);
  font-size: 40px;
  font-weight: 800;
}
.tour-text .tour-desc-one {
  margin: 20px 0;
}
.tour-text p {
  color: rgba(19, 19, 24, 0.7);
  line-height: 22px;
}
.tour-text ul {
  margin-left: 15px;
  margin-bottom: 20px;
}

.tour-text ul li {
  color: rgba(19, 19, 24, 0.7);
  line-height: 24px;
}

.tour-text .tour-desc-two {
  margin-bottom: 30px;
}
.tour-text button {
  font-size: 18px;
  padding: 10px 30px;
}
/* ---------------------
--------------------
-----------------------
----------------------------------------------
---------------------------------
------------------------ */

@media screen and (max-width: 600px) {
  header {
    padding: 20px;
  }
  nav {
    justify-content: space-between;
  }
  nav .logo-text h1 {
    font-size: 1.5rem;
  }
  nav .logo-text {
    gap: 5px;
  }
  nav .logo-text img {
    width: 35px;
  }
  nav ul {
    display: none;
  }

  nav .menu-bar,
  .dropdown ul {
    display: block;
  }
  .banner {
    padding: 20px;
  }
  .find-place {
    flex-direction: column;
    justify-content: stretch;
  }

  .find-place .input,
  .find-place button {
    width: 100%;
  }

  .banner h1 {
    font-size: 24px;
  }
  .banner p {
    font-size: 14px;
  }
}
