/* font-family: 'Mulish', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap");
/* font-family: 'Inter', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

/* shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
:root {
  --primary-color: #ff5400;
  --heading-color: #131318;
}
.btn-primary {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  border: 0;
  font-size: 17px;
  font-weight: 700;
  padding: 15px 30px;
  border: 2px solid #ff5400;
}

.btn-primary:hover {
  background-color: transparent;
  cursor: pointer;
  color: black;
}

/* header styles */
header {
  max-width: 1600px;
  padding: 50px 120px 0;
  margin: 0 auto;
}

/* nav styles */
nav .logo-text {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
  list-style: none;
}
nav > ul li {
  margin-left: 40px;
}
nav > ul li a {
  text-decoration: none;
  color: #424247;
  font-size: 18px;
}
nav > ul li a:hover {
  color: var(--primary-color);
}
nav > ul li:first-child a {
  color: var(--primary-color);
}
nav .logo-text h1 {
  color: var(--heading-color);
  font-size: 36px;
  font-weight: 800;
}

nav .logo-text h1 span {
  color: var(--primary-color);
}

nav .menu-bar {
  display: none;
  position: relative;
}
.menu-bar i {
  font-size: 20px;
}

/* dropdown styles */
.dropdown {
  display: none;
}
.menu-bar:hover .dropdown {
  display: block;
}
.dropdown {
  background: rgba(49, 49, 49, 0.836);
  position: absolute;
  border-radius: 5px;
  top: 30px;
  right: 20px;
  padding: 20px 40px;
}
.dropdown ul {
  display: flex;
  list-style: none;
  flex-direction: column;
}
.dropdown ul li {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.dropdown ul li a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
.dropdown ul li a:hover {
  color: var(--primary-color);
}
.dropdown ul li:first-child a {
  color: var(--primary-color);
}
/* banner styles */

.banner {
  margin-bottom: 100px;
  background: url("../Images/Group\ 13.png"),
    linear-gradient(180deg, rgba(19, 19, 24, 0.8) 0%, rgba(19, 19, 24, 0) 100%);
  background-blend-mode: overlay;
  background-size: cover;
  border-radius: 16px;
  padding: 100px 150px;
  /* height: 500px; */
  background-position: center;
  margin-top: 40px;
}

.banner h1 {
  color: #fff;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 800;
}
.banner p {
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
  font-size: 1rem;
  line-height: normal;
}

/* find-place styles  */

.find-place {
  padding: 15px;
  display: flex;
  border-radius: 8px;
  gap: 20px;
  background: rgba(255, 255, 255, 0.3);
  justify-content: center;
  align-items: stretch;
}

.find-place .input,
.find-place button {
  width: 25%;
}

.find-place .input {
  display: flex;
  align-items: center;
  border-radius: 8px;
  height: 50px;
  background: #fff;
  padding: 10px;
}
.find-place .input input {
  width: 100%;
  height: 100%;
  font-size: 17px;
  background-color: transparent;
  padding: 5px;
  outline: 0;
  border: 0;
}
.find-place .input input::placeholder {
  color: rgba(19, 19, 24, 0.5);
}
.input i {
  font-size: 17px;
  color: rgba(19, 19, 24, 0.7);
}
/* main styles */
main {
  max-width: 1600px;
  padding: 50px 120px;
  margin: 0 auto;
}

/* .popular-tours styles */
.popular-tours {
  display: flex;
  gap: 80px;
  margin-bottom: 100px;
}
.tour-text,
.popular-tours img {
  width: 50%;
}

.tour-text h1 {
  color: var(--heading-color);
  font-size: 40px;
  font-weight: 800;
}
.tour-text .tour-desc-one {
  margin: 20px 0;
}
.tour-text p {
  color: rgba(19, 19, 24, 0.7);
  line-height: 22px;
}
.tour-text ul {
  margin-left: 15px;
  margin-bottom: 20px;
}

.tour-text ul li {
  color: rgba(19, 19, 24, 0.7);
  line-height: 24px;
}

.tour-text .tour-desc-two {
  margin-bottom: 30px;
}
.tour-text button {
  font-size: 18px;
  padding: 10px 30px;
}

/* destination section style */
.destination-section {
  margin-bottom: 100px;
}
.destination-section h1 {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}
.destination-section p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  line-height: 24px;
  margin-bottom: 40px;
}
.destination-img {
  display: grid;
  grid-template-areas:
    "img-1 img-1  img-1 img-2 img-2  img-2"
    "img-3 img-4  img-4 img-4 img-4 img-5"
    "img-6 img-6  img-7 img-7 img-7  img-7";
  gap: 20px;
}

.destination-img .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.destination-section .destination-img .img {
  object-fit: cover;
  position: relative;
}
.destination-section .destination-img .img h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

#img-1 {
  grid-area: img-1;
}
#img-2 {
  grid-area: img-2;
}
#img-3 {
  grid-area: img-3;
}
#img-4 {
  grid-area: img-4;
}
#img-5 {
  grid-area: img-5;
}
#img-6 {
  grid-area: img-6;
}
#img-7 {
  grid-area: img-7;
}

/* featured-properties-section style */
.featured-properties-section {
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 100px;
  background: rgba(233, 68, 68, 0.05);
}
.featured-properties-section h1 {
  font-size: 35px;
  margin-bottom: 15px;
  color: var(--heading-color);
}
.featured-properties-section .featured-title {
  display: flex;
  gap: 20px;
}
.featured-properties-section .featured-title span {
  display: flex;
  align-items: center;
  color: #424247;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.featured-properties-section .featured-title span img {
  width: 20px;
  height: 20px;
}
.featured-properties-section .btn-sp {
  margin: 10px 0;
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 20px;
}
.featured-properties-section .btn-sp span:hover {
  background-color: #0f294d;
  color: #fff;
}
.featured-properties-section .btn-sp span {
  font-size: 17px;
  color: #0f294d;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.322);
  background-color: #fff;
}
.properties-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: (2, auto); */
  gap: 50px;
}
.properties-card {
  padding: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.322);
  border-radius: 7px;
}
.properties-card img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  height: 250px;
}
.properties-card h3 {
  color: var(--heading-color);
  font-size: 22px;
  margin: 5px;
  font-weight: 800;
}

.properties-card .rating i {
  color: gold;
  font-size: 18px;
  margin-bottom: 10px;
}
.properties-card .rating-text {
  color: #ff5400;
  font-size: 18px;
  font-weight: 700;
}
.properties-card .rating-text span {
  background-color: #ff5400;
  color: #fff;
  font-size: 18px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 7px 12px;
  font-weight: 500;
  border-radius: 15px 0 15px 15px;
}

.properties-card .price {
  color: #ff5400;
  font-size: 30px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: end;
  text-align: right;
  margin-bottom: 10px;
}

.properties-card .price span {
  color: #8a97aa;
  font-size: 20px;
  font-weight: 500;
}
/* why-choose-us-section styles */
.why-choose-us-section {
  margin-bottom: 100px;
}
.why-choose-us-section > h1 {
  color: var(--heading-color);
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}

.why-choose-us-section > p {
  padding: 0 200px;
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  margin-bottom: 40px;
}
.row {
  display: flex;
  gap: 25px;
}
.box {
  width: 50%;
  padding: 30px;
  border-radius: 16px;
}
.box h1 {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
  margin: 30px 0px 10px 0;
}
.box p {
  color: #5a5a5d;
  line-height: 26px;
}
#box-1 {
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
#box-2 {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
#box-3 {
  margin: 0 auto;
  margin-top: 25px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

/* deals-discount section styles */
.deals-discounts-section {
  margin-bottom: 100px;
}
.deals-discounts-section h1 {
  color: var(--heading-color);
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}

.deals-discounts-section > p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  line-height: 24px;
  padding: 0 200px;
  margin-bottom: 40px;
}
#discount-container-one {
  background-image: url("../Images/Group\ 39.png");
  height: 500px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: end;
  align-items: center;
}

#discount-container-two {
  background-image: url("../Images/Group\ 40.png");
  height: 500px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: start;
  align-items: center;
}

#discount-container-three {
  background-image: url("../Images/torronto.jpg");
  height: 500px;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: end;
  align-items: center;
}
.discount-container {
  border-radius: 16px;
  margin-bottom: 20px;
  padding: 50px;
}

.deals-card {
  width: 50%;
  border-radius: 16px;
  border: 2px solid #fff;
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5);
  padding: 50px;
  background: rgba(255, 255, 255, 0.8);
}
.deals-card .card-header span i {
  color: var(--primary-color);
}
.deals-card .card-header {
  color: #5a5a5d;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}
.deals-card .card-header span {
  margin-right: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.deals-card h3 {
  color: var(--heading-color);
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 800;
}
.deals-card .card-details {
  color: #5a5a5d;
  line-height: 22px;
  margin-bottom: 10px;
}
.deals-card h4 {
  color: var(--heading-color);
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 800;
}
.deals-card h4 > .highlighted-price {
  color: var(--primary-color);
}
.deals-card button,
.btn-p {
  padding: 10px 30px;
}

/* simple-perfect-section styles */

.simple-perfect-section {
  display: flex;
  margin-bottom: 100px;
  gap: 30px;
}
.simple-text,
.simple-perfect-section img {
  width: 50%;
}
.simple-text h1 {
  color: var(--heading-color);
  font-size: 2.2rem;
  font-weight: 800;
  line-height: 40px;
  margin-bottom: 20px;
}
.simple-text p {
  color: #5a5a5d;
  line-height: 22px;
  margin-bottom: 15px;
}
.simple-text ul {
  margin-bottom: 30px;
  margin-left: 15px;
}
.simple-text ul li {
  margin-bottom: 10px;
  color: #131318;
  font-weight: 700;
  line-height: 22px;
}

.simple-text button {
  margin-top: 10px;
  padding: 10px 30px;
}
/* newsletter-section style */

.newsletter-section {
  display: flex;
  margin-bottom: 100px;
  gap: 20px;
}
.newsletter-img {
  width: 60%;
}
.newsletter-form {
  border-radius: 16px;
  border: 2px solid #ff5400;
  padding: 30px;
  width: 40%;
}
.newsletter-form h3 {
  color: #131318;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 800;
}
.newsletter-form p {
  color: #5a5a5d;
  line-height: 22px;
}
.newsletter-form hr {
  margin: 25px 0;
  height: 1px;
  background: rgba(19, 19, 24, 0.1);
}
.newsletter-form form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.newsletter-form input[type="text"],
input[type="email"] {
  width: 100%;
  border: 0;
  font-size: 17px;
  outline: none;
  padding: 15px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  height: 50px;
  margin-bottom: 25px;
}
.newsletter-form input[type="submit"] {
  padding: 10px 30px;
  height: 50px;
}
.newsletter-img {
  position: relative;
}
.offer-card {
  padding: 20px 50px;
  border-radius: 16px;
  text-align: center;
  position: absolute;
  bottom: 65px;
  transform: rotate(-30deg);
  right: -7px;
  background: #ff5400;
}

.offer-card p {
  color: #fff;
  text-align: center;
  font-size: 18px;
}
.offer-card h3 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 800;
}
/* footer styles */
footer {
  background: rgba(19, 19, 24, 0.05);
  padding: 80px 300px;
}
.footer-logo {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
}
.footer-logo img {
  width: 40px;
}
.footer-logo h1 {
  color: var(--heading-color);
  font-size: 32px;
  font-weight: 800;
}

.footer-logo h1 span {
  color: #ff5400;
}

footer .footer-details {
  color: #5a5a5d;
  text-align: center;
  line-height: 22px;
  margin-bottom: 30px;
}
footer .social-icons {
  display: flex;
  justify-content: center;
}
footer .social-icons a {
  margin-right: 30px;
}
footer .social-icons a i {
  color: #131318;
  font-size: 25px;
}

footer hr {
  margin: 50px;
  height: 1px;
  background: rgba(19, 19, 24, 0.1);
}
footer .footer-copy {
  color: #131318;
  text-align: center;
  font-family: Inter;
}
/* -----responsiveness for mobile or small devices--------- */

@media screen and (max-width: 600px) {
  header {
    padding: 20px;
  }
  nav {
    justify-content: space-between;
  }
  nav .logo-text h1 {
    font-size: 1.5rem;
  }
  nav .logo-text {
    gap: 5px;
  }
  nav .logo-text img {
    width: 35px;
  }
  nav ul {
    display: none;
  }

  nav .menu-bar,
  .dropdown ul {
    display: block;
  }

  /* shared styles starts here */
  .why-choose-us-section,
  .destination-section {
    margin-bottom: 30px;
  }

  /* header font -size */
  .destination-section h1,
  .banner h1,
  .why-choose-us-section h1,
  .deals-discounts-section h1,
  .footer-logo h1,
  .simple-text h1 {
    font-size: 25px;
  }
  /* shared styles ends here */
  /* banner styles */
  .banner {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .find-place {
    flex-direction: column;
    justify-content: stretch;
  }

  .find-place .input,
  .find-place button {
    width: 100%;
  }

  .banner p {
    font-size: 15px;
  }
  main {
    padding: 20px;
  }

  /* .popular-tours styles */
  .popular-tours {
    flex-direction: column;
    gap: 40px;
    margin-bottom: 30px;
  }

  .tour-text,
  .popular-tours img {
    width: 100%;
  }
  .tour-text h1 {
    font-size: 30px;
  }

  /* destination styles */

  .destination-img {
    gap: 15px;
    grid-template-areas:
      "img-1"
      "img-2"
      "img-3"
      "img-4"
      "img-5"
      "img-6"
      "img-7";
  }
  .destination-section .destination-img .img h3 {
    font-size: 20px;
  }
  .destination-img .img img {
    height: 200px;
  }

  /* .why-choose-us-section styles */

  .why-choose-us-section p {
    padding: 0;
  }
  .row {
    flex-direction: column;
  }
  .box {
    width: 100%;
  }

  /* .deals-discounts-section styles */

  .deals-discounts-section {
    margin-bottom: 30px;
  }
  #discount-container-one,
  #discount-container-two,
  #discount-container-three {
    padding: 10px;
    align-items: end;
  }
  .deals-card .card-header {
    margin-bottom: 10px;
  }
  .deals-card h3 {
    margin-bottom: 15px;
  }
  .deals-card {
    width: 100%;
    padding: 10px;
  }
  .deals-discounts-section p {
    padding: 0px;
  }

  /* .simple-perfect-section styles */

  .simple-perfect-section {
    margin-bottom: 30px;
    flex-direction: column;
  }

  .simple-text,
  .simple-perfect-section img {
    width: 100%;
  }

  /* newsletter-section style */
  .newsletter-form,
  .newsletter-img,
  .newsletter-img img {
    width: 100%;
  }
  .newsletter-section {
    margin-bottom: 30px;
    flex-direction: column;
  }
  .offer-card {
    padding: 10px 20px;
    border-radius: 16px;
    text-align: center;
    position: absolute;
    bottom: 50px;
    transform: rotate(-40deg);
    right: -7px;
    background: #ff5400;
  }

  .offer-card p {
    font-size: 14px;
  }
  .offer-card h3 {
    font-size: 1.2rem;
    font-weight: 700;
  }

  /* .featured-properties-section styles */
  .featured-properties-section {
    margin-bottom: 30px;
  }
  .featured-properties-section .featured-title {
    flex-direction: column;
    gap: 5px;
  }
  .featured-properties-section .btn-sp {
    flex-wrap: wrap;
    gap: 10px;
  }

  .featured-properties-section .properties-card-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  /* footer styles */
  footer {
    padding: 30px;
  }
  footer hr {
    margin: 20px 0;
  }
}

/* -------------------------------------------- */
/* --------responsive section styles -----------*/
/* -------------------------------------------- */

/* responsiveness for tablet devices */

@media screen and (min-width: 600px) and (max-width: 992px) {
  header {
    padding: 20px;
  }
  nav {
    justify-content: space-between;
  }
  nav .logo-text h1 {
    font-size: 1.5rem;
  }
  nav .logo-text {
    gap: 5px;
  }
  nav .logo-text img {
    width: 35px;
  }
  nav ul {
    display: none;
  }

  nav .menu-bar,
  .dropdown ul {
    display: block;
  }

  /* shared styles starts here */
  .why-choose-us-section,
  .destination-section {
    margin-bottom: 50px;
  }

  /* header font -size */
  .destination-section h1,
  .banner h1,
  .why-choose-us-section h1,
  .deals-discounts-section h1,
  .footer-logo h1,
  .simple-text h1 {
    font-size: 30px;
  }
  /* shared styles ends here */
  /* banner styles */
  .banner {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .find-place {
    flex-direction: column;
    justify-content: stretch;
  }

  .find-place .input,
  .find-place button {
    width: 100%;
  }

  main {
    padding: 20px;
  }

  /* .popular-tours styles */
  .popular-tours {
    flex-direction: column;
    gap: 40px;
    margin-bottom: 50px;
  }

  .tour-text,
  .popular-tours img {
    width: 100%;
  }
  .tour-text h1 {
    font-size: 30px;
  }

  /* destination styles */

  .destination-img {
    gap: 15px;
    grid-template-areas:
      "img-1  img-1  img-2  img-2"
      "img-3  img-4  img-4  img-4"
      "img-7  img-7  img-7  img-7"
      "img-6  img-6  img-5 img-5";
  }
  .destination-section .destination-img .img h3 {
    font-size: 25px;
  }
  .destination-img .img img {
    height: 200px;
  }

  /* .featured-properties-section styles */
  .featured-properties-section {
    margin-bottom: 50px;
  }
  .featured-properties-section .featured-title {
    /* flex-direction: column; */
    gap: 10px;
  }
  .featured-properties-section .btn-sp {
    flex-wrap: wrap;
    gap: 10px;
  }

  .featured-properties-section .properties-card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  /* .why-choose-us-section styles */

  .why-choose-us-section p {
    padding: 0;
  }
  .row {
    flex-direction: column;
  }
  .box {
    text-align: center;
    width: 100%;
  }

  /* .deals-discounts-section styles */

  .deals-discounts-section {
    margin-bottom: 50px;
  }

  .deals-card .card-header {
    margin-bottom: 10px;
  }
  .deals-card h3 {
    margin-bottom: 15px;
  }
  .deals-card {
    /* width: 100%; */
    padding: 10px;
  }
  .deals-discounts-section p {
    padding: 0px;
  }

  /* .simple-perfect-section styles */

  .simple-perfect-section {
    margin-bottom: 50px;
  }

  /* newsletter-section style */
  .newsletter-img img {
    width: 100%;
    height: 100%;
  }
  .newsletter-section {
    margin-bottom: 50px;
  }
  .offer-card {
    padding: 10px 20px;
    border-radius: 16px;
    text-align: center;
    position: absolute;
    bottom: 50px;
    transform: rotate(-40deg);
    right: -7px;
    background: #ff5400;
  }

  .offer-card p {
    font-size: 14px;
  }
  .offer-card h3 {
    font-size: 1.2rem;
    font-weight: 700;
  }

  /* footer styles */
  footer {
    padding: 50px;
  }
  footer hr {
    margin: 50px 0;
  }
}
